<p>¿Qué quieres beber?</p>
<label
  ><input
    type="radio"
    name="bebida"
    [(ngModel)]="bebida"
    (change)="printLog('CocaCola', 'lightgreen')"
    value="CocaCola"
  />CocaCola</label
><br />
<label
  ><input
    type="radio"
    name="bebida"
    [(ngModel)]="bebida"
    (change)="printLog('Fanta', 'lightgreen')"
    value="Fanta"
  />Fanta</label
><br />
<label
  ><input
    type="radio"
    name="bebida"
    [(ngModel)]="bebida"
    (change)="printLog('Acuarius', 'lightgreen')"
    value="Acuarius"
  />Acuarius</label
><br />
<p *ngIf="bebida.length > 0">Marchando... una de {{ bebida }}</p>
