<p>¿Qué quieres comer?</p>
<label
  ><input
    type="radio"
    name="comida"
    [(ngModel)]="comida"
    (change)="printLog('Pizza', 'lightblue')"
    value="Pizza"
  />Pizza</label
><br />
<label
  ><input
    type="radio"
    name="comida"
    [(ngModel)]="comida"
    (change)="printLog('Pasta', 'lightblue')"
    value="Pasta"
  />Pasta</label
><br />
<label
  ><input
    type="radio"
    name="comida"
    [(ngModel)]="comida"
    (change)="printLog('Lazaña', 'lightblue')"
    value="Lasaña"
  />Lasaña</label
><br />
<p *ngIf="comida.length > 0">Marchando... una de {{ comida }}</p>
